<%- include('partials/head.ejs') %>

  <div class="form-wrapper">
    <form action="" method="post">
      <div class="input-wrapper">
        <label for="winery">Winery</label>
        <br>
        <select name="winery" id="winery">
          <% for (let i = 0; i < wineryList.length; i++ )  { %> 
            <option value="<%= wineryList[i] %>"><%= wineryList[i] %></option>
          <% } %>
        </select>
      </div>
      <div class="input-wrapper">
        <label for="name">Title</label>
        <br>
        <input type="text" name="name" id="name" class="input-text">
      </div>
      <div class="input-wrapper">
        <label for="tastings">Tastings(number and frequency)</label>
        <br>
        <input type="text" name="tastings" id="tastings" class="input-text">
      </div>
      <div class="input-wrapper">
        <label for="discounts">Discounts</label>
        <br>
        <input type="text" name="discounts" id="discounts" class="input-text">
      </div>
      <div class="input-wrapper">
        <label for="otherBenefits">Other Benefits</label>
        <br>
        <input type="text" name="otherBenefits" id="otherBenefits"> class="input-text"
      </div>
      <div class="input-wrapper">
        <label for="avgPrice">Avg Price</label>
        <br>
        <input type="text" name="avgPrice" id="avgPrice" class="input-text">
      </div>
      <button class="submit-btn">Submit</button>
    </form>
  </div>

<%- include('partials/footer.ejs') %>