<%- include('partials/head.ejs') %>

<div class="page-wrapper">
  <div class="form-wrapper">
    <form action="http://localhost:5000/api/wineries/club" method="post">
      <div class="input-wrapper">
        <label for="winery">Winery</label>
        <br>
        <select name="winery" id="winery">
          <% for (let i = 0; i < wineryList.length; i++ )  { %> 
            <option value="<%= wineryList[i] %>"><%= wineryList[i] %></option>
          <% } %>
        </select>
      </div>
      <div class="input-wrapper">
        <label for="name">Club Name</label>
        <br>
        <input type="text" name="name" id="name" class="input-text" required>
      </div>
      <div class="input-wrapper">
        <label for="tastings">Tastings(number and frequency)</label>
        <br>
        <input type="text" name="tastings" id="tastings" class="input-text" required>
      </div>
      <div class="input-wrapper">
          <label for="tastings">Shipments/Pickups(number of bottles and frequency)</label>
          <br>
          <input type="text" name="shipments" id="shipments" class="input-text" required>
        </div>
      <div class="input-wrapper">
        <label for="discounts">Discounts (separate each discount with a semicolon(;) )</label>
        <br>
        <textarea name="discounts" id="discounts" cols="30" rows="10" required></textarea>
      </div>
      <div class="input-wrapper">
        <label for="otherBenefits">Other Benefits (separate each benefit with a semicolon(;) )</label>
        <br>
        <textarea name="otherBenefits" id="otherBenefits" cols="30" rows="10" required></textarea>
      </div>
      <div class="input-wrapper">
        <label for="avgPrice">Avg Price</label>
        <br>
        <input type="text" name="avgPrice" id="avgPrice" class="input-text" required>
      </div>
      <button class="submit-btn">Submit</button>
    </form>
  </div>
</div>

<%- include('partials/footer.ejs') %>