<%- include('partials/head.ejs') %>

<div class="page-wrapper">
  <h2>Which event would you like to edit?</h2>

  <ul>
    <% for ( ) %> {
     <% %>
    <% } %>
  </ul>
</div>

<%- include('partials/footer.ejs') %>