<%- include('partials/head.ejs') %>

<div class="page-wrapper">
  <h2>Hello, what action would you like to take?</h2>

  <ul>
    <li>
      <a href="http://localhost:5000/">
        Add Event
      </a>
    </li>
    <li>
      <a href="http://localhost:5000/">
        Update/Delete Event
      </a>
    </li>
    <li>
      <a href="http://localhost:5000/">
        Add Wine
      </a>
    </li>
    <li>
      <a href="http://localhost:5000/">
        Update/Delete Wine
      </a>
    </li>
    <li>
      <a href="http://localhost:5000/">
        Add Wine Club
      </a>
    </li>
    <li>
      <a href="http://localhost:5000/">
        Update/Delete Wine Club
      </a>
    </li>
    <li>
      <a href="http://localhost:5000/">
        Update Winery Info
      </a>
    </li>
  </ul>
</div>

<%- include('partials/footer.ejs') %>