<%- include('partials/head.ejs') %>

<div class="page-wrapper">
  <h2>Hello, what action would you like to take?</h2>

  <ul>
    <li>
      <a href="http://localhost:5000/addEvent">
        Add Event
      </a>
    </li>
    <li>
      <a href="http://localhost:5000/updateEvent">
        Update/Delete Event
      </a>
    </li>
    <li>
      <a href="http://localhost:5000/addWine">
        Add Wine
      </a>
    </li>
    <li>
      <a href="http://localhost:5000/updateWine">
        Update/Delete Wine
      </a>
    </li>
    <li>
      <a href="http://localhost:5000/addClub">
        Add Wine Club
      </a>
    </li>
    <li>
      <a href="http://localhost:5000/updateClub">
        Update/Delete Wine Club
      </a>
    </li>
    <li>
      <a href="http://localhost:5000/updateInfo">
        Update Winery Info
      </a>
    </li>
  </ul>
</div>

<%- include('partials/footer.ejs') %>