<%- include('partials/head.ejs') %>

<div class="page-wrapper">
  <h2 class="index-head">Hello, what action would you like to take?</h2>

  <ul class="index-list">
    <li>
      <a href="http://localhost:5000/addEvent">
        Add Event
      </a>
    </li>
    <li>
      <a href="http://localhost:5000/addWine">
        Add Wine
      </a>
    </li>
    <li>
      <a href="http://localhost:5000/addClub">
        Add Wine Club
      </a>
    </li>
  </ul>
</div>

<%- include('partials/footer.ejs') %>