<%- include('partials/head.ejs') %>

<div>
  <form action="" method="post">
    <label for="name">Title</label>
    <input type="text" name="name" id="name">
    <label for="tastings">Tastings(number and frequency)</label>
    <input type="text" name="tastings" id="tastings">
    <label for="discounts">Discounts</label>
    <input type="text" name="discounts" id="discounts">
    <label for="otherBenefits">Other Benefits</label>
    <input type="text" name="otherBenefits" id="otherBenefits">
    <label for="avgPrice">Avg Price</label>
    <input type="text" name="avgPrice" id="avgPrice">
    <button>Submit</button>
  </form>
</div>

<%- include('partials/footer.ejs') %>