<%- include('partials/head.ejs') %>

<div>
  <form action="" method="post">
    <label for="title">Title</label>
    <input type="text" name="title" id="title">
    <label for="date">Date (format: YYYY-DD-MM)</label>
    <input type="text" name="date" id="date">
    <label for="time">Time</label>
    <input type="text" name="time" id="time">
    <button>Submit</button>
  </form>
</div>

<%- include('partials/footer.ejs') %>