<%- include('partials/head.ejs') %>

<div>
  <form action="" method="post">
    <label for="phone">Phone Number</label>
    <input type="text" name="phone" id="phone">
    <label for="url">Website</label>
    <input type="text" name="url" id="url">
    <button>Submit</button>
  </form>
</div>

<%- include('partials/footer.ejs') %>