<%- include('partials/head.ejs') %>

<div class="form-wrapper">
  <form action="" method="post">
    <div class="input-wrapper">
      <label for="phone">Phone Number</label>
      <br>
      <input type="text" name="phone" id="phone" class="input-text">
    </div>
    <div class="input-wrapper">
      <label for="url">Website</label>
      <br>
      <input type="text" name="url" id="url" class="input-text">
    </div>
    <button class="submit-btn">Submit</button>
  </form>
</div>

<%- include('partials/footer.ejs') %>